extends main

block css

block body
    .row.bg-title
        .col-lg-3.col-md-4.col-sm-4.col-xs-12
            h4.page-title POST DETAILS
    .row
        .col-md-8.col-xs-12
            .white-box
                form.form-horizontal.form-material(method='POST',action='/users')
                    .form-group
                        label.col-md-12 Post Title
                        .col-md-12
                            input.form-control.form-control-line(type='text',name = 'title',value = post.title,placeholder='Title')
                    .form-group
                        .col-md-12
                            label(for='sel1') Category
                            select#sel1.form-control
                                option 1
                                option 2
                                option 3
                                option 4
                    .form-group
                        label.col-md-12 Description
                        .col-md-12
                            textarea.form-control.form-control-line(name='description',rows='10') #{post.description}
                    .form-group
                        .col-sm-12
                            input#actionType.form-control.form-control-line(type='text',name='type',value=type,style='display:none')
                        
        .col-md-4.col-xs-12
            .white-box
                .user-bg
                    img(width='100%', alt='user', src='/firebase/userImages/default_profile.jpg')
                    .overlay-box
                        .user-content
                            a(href='javascript:void(0)')
                            img.thumb-lg.img-circle(src='/firebase/' + user.avatarLink, alt='img')
                            h4.text-white #{user.name}
                            h5.text-white #{user.email}
                .user-btm-box
                    .col-md-12.col-sm-12.text-center
                        h5 #{user.slogan}
            .white-box
                h3.box-title MEDIA
                each image in postImages
                    .col-md-6.col-sm-12.post-media-wrap
                        img.post-media(src='/firebase/'+image)
                        i.fa.fa-times-circle-o.fa-fw.close-media(aria-hidden='true')
                .col-md-12.col-sm-12
                    .form-group
                        .col-md-12
                            input.form-control.form-control-line(type='file',name = 'title')
                    

block scripts