extends main

block css

block body
    .row.bg-title
        .col-lg-3.col-md-4.col-sm-4.col-xs-12
            h4.page-title POST DETAILS
    .row
        .col-md-8.col-xs-12
            .white-box
                form.form-horizontal.form-material(method='POST',action='/posts',enctype="multipart/form-data")
                    .form-group
                        label.col-md-12 Post Title
                        .col-md-12
                            input.form-control.form-control-line(type='text',name = 'title',value = post.title,placeholder='Title',required)
                    .form-group
                        .col-md-12
                            label(for='sel1') Category
                            select#sel1.form-control(name="category")
                                if post.category == 1
                                    option(value="1" selected) ACCESSORIES
                                else
                                    option(value="1") ACCESSORIES
                                if post.category == 2
                                    option(value="2" selected) BABY AND TOYS
                                else
                                    option(value="2") BABY AND TOYS
                                if post.category == 3
                                    option(value="3" selected) CLOTHS
                                else
                                    option(value="3") CLOTHS
                                if post.category == 4
                                    option(value="4" selected) ELECTRONICS
                                else
                                    option(value="4") ELECTRONICS
                                if post.category == 5
                                    option(value="5" selected) GROCERIES
                                else
                                    option(value="5") GROCERIES
                                if post.category == 6
                                    option(value="6" selected) HOME AND LIVING
                                else
                                    option(value="6") HOME AND LIVING
                                if post.category == 7
                                    option(value="7" selected) PETS
                                else
                                    option(value="7") PETS
                                if post.category == 8
                                    option(value="8" selected) OTHERS
                                else
                                    option(value="8") OTHERS
                    if users
                        .form-group
                            .col-md-12
                                label(for='sel1') User
                                select#sel2.form-control(name="ownerId")
                                    each u in users
                                        option(value=u.id) #{u.name}
                    else
                        .form-group
                            .col-md-12
                                input.form-control.form-control-line(type="text" name="ownerId",style="display:none",value=user.id)
                    .form-group
                        label.col-md-12 Description
                        .col-md-12
                            textarea.form-control.form-control-line(name='description',rows='10',required) #{post.description}
        
                    .form-group
                        #hiddenField.col-sm-12
                            input#actionType.form-control.form-control-line(type='text',name='type',value=type,style='display:none')
                            input#actionType.form-control.form-control-line(type='text',name='postId',value=post.postId,style='display:none')
                            input#postFile.form-control.form-control-line(type="file",name="postImages",style="display:none",accept="image/*",multiple)
                            input#deleteMedia.form-control.form-control-line(type="text",name="deleteMedia",style="display:none")
                            if post.location
                                input#location.form-control.form-control-line(type="text",name="location" value=post.location.latitude + "," + post.location.longitude,style="display:none")
                            else 
                                input#location.form-control.form-control-line(type="text",name="location" value="10.870182,106.802919",style="display:none")
                            each comment in post.comments
                                input(type="text",name="comments[]",style="display:none" value=comment.no+"[$]"+comment.comment,data-comment-hidden=comment.no)
                    .form-group
                        .col-sm-4
                            button#btnAction.btn.btn-success Update Post
                        if users || type =='edit'
                            .col-sm-4
                                a.btn.btn-success(href='/posts') Cancel
                        else
                            .col-sm-4
                                a.btn.btn-success(href='/users/'+user.id) Cancel
                    #commentBox.form-group
                        label.col-md-12 Comments
                        each comment in post.comments
                            .col-md-12.comment-bg(data-comment-box=comment.no)
                                .col-md-3
                                    img.comment-avatar.img-circle(src=comment.user.avatarLink, alt='img')
                                    label
                                        a(href='/users/'+ comment.user.id,style="margin-left:4px") #{comment.user.name}
                                .col-md-7(style="margin-top: 8px")
                                    p(data-comment-content=comment.no)=comment.comment
                                .col-md-1.dropdown(style="margin-top: 8px")
                                    i.fa.fa-ellipsis-h.dropdown-toggle( style="margin-left:10px;font-size:20px;color:#858585",title=comment.no,data-toggle="dropdown")
                                    //- button.btn.btn-success.dropdown-toggle(type="button" data-toggle="dropdown") toggle
                                    ul.dropdown-menu
                                        li
                                            a(data-comment-edit=comment.no) Edit
                                        li
                                            a(data-comment-delete=comment.no) Delete
                        #addComment.col-md-12(style="margin:15px 0px 15px 0px")
                            input.form-control.form-control-line(type="text",onkeyup="onPressEnterInComment(this,event)",onkeypress ="return event.keyCode != 13",placeholder="Add a comment")

                    .form-group
                        label.col-md-12 Location
                        #googleMap(style="width:100%;height:400px;")
        .col-md-4.col-xs-12
            .white-box
                .user-bg
                    img(width='100%', alt='user', src=user.avatarLink)
                    .overlay-box
                        .user-content
                            a(href='javascript:void(0)')
                            img.thumb-lg.img-circle(src=user.avatarLink, alt='img')
                            h4.text-white #{user.name}
                            h5.text-white #{user.email}
                .user-btm-box
                    .col-md-12.col-sm-12.text-center
                        h5 #{user.slogan}
            #previewImage.white-box.col-md-12
                h3.box-title Images
                .col-md-12.col-sm-12
                    .form-group
                        button#postFileBtn.btn.btn-success.col-md-5(type="button") Add Image
                        p#postDisplay.col-md-6(style ="margin-top:5px")
                each image in postImages
                    .col-md-6.col-sm-12.post-media-wrap
                        img.post-media(src=image.imageLink,id=image.imageName,title="Click to delete")
block scripts
    script.
        var admin = !{JSON.stringify(admin)}
        var post = !{JSON.stringify(post)}
        $( document ).ready(function() {
            if($('#actionType').val() == 'add'){
                document.getElementById('btnAction').innerText = 'Add Post';
                $("#postBox").hide();
            }
            $("#postFileBtn").click(()=>{
                $("#postFile").click();
            });
            $("#postFile").on("change",(event)=>{
                var files = event.target.files;
                for(let index = 0; index < files.length; index ++){
                    let file = files[index];
                    if(file.type.indexOf("image") > -1 ){
                        var reader=new FileReader();
                        reader.onload = function (e) {
                            var previewImage = '<div class ="col-md-6 col-sm-12 post-media-wrap">'
                            + '<img class="post-media" src="'+e.target.result+'" />'
                            + '</div>'
                            $("#previewImage").append(previewImage);
                        }
                        reader.readAsDataURL(file);
                    }
                }
            });
            $(".post-media-wrap").click((element)=>{
               let elem = document.getElementById(element.target.id);
               elem.parentNode.removeChild(elem);
               //deleteMedia
               $("#deleteMedia").val($("#deleteMedia").val() + ","+element.target.id);       
            });
            commentProcess();
        });
        function onPressEnterInComment(element,event){
            if(event.keyCode == 13 && element.value !=""){
                let commentNo = $('[data-comment-box]').length;
                let comment = '<div class="col-md-12 comment-bg" data-comment-box="'+commentNo+'">'
                    +'<div class="col-md-3">'
                        +'<img class = "comment-avatar img-circle" src="'+admin.avatarLink+'"/>'
                        +'<a href="/users/'+admin.id+'" style="margin-left:4px;font-weight: 500"> admin</a>'
                    +'</div>'
                    +'<div class="col-md-7" style="margin-top: 8px">'
                        +'<p data-comment-content = "'+commentNo+'">'+element.value+'</p>'
                    +'</div>'
                    +'<div class="col-md-1 dropdown" style="margin-top:8px">'
                        +'<i class="fa fa-ellipsis-h dropdown-toggle" style="margin-left:10px;font-size:20px;color:#858585" data-toggle="dropdown" />'
                        + '<ul class="dropdown-menu">'
                            + '<li> <a data-comment-edit="'+commentNo+'">Edit</a> </li>'
                            + '<li><a data-comment-delete="'+commentNo+'">Delete</a></li>'
                        + '</ul>'
                    +'</div>'
                +'</div>';
                $("#addComment").before(comment);
                let input = '<input style="display:none" type="text" name="comments[]" data-comment-hidden-add ="'+commentNo+'" value="'+element.value+'" />';
                element.value = "";
                $("#hiddenField").append(input);
                /**Update script*/
                commentProcess();
            }
        }
        function commentProcess(){
             /** On edit comment*/
            $('[data-comment-edit]').click(event =>{
                var $el = $('[data-comment-content="'+event.target.attributes[0].nodeValue+'"]');
                var $input = $('<input class="form-control form-control-line" onkeypress="return event.keyCode != 13;" />').val( $el.text() );
                $el.replaceWith( $input );
                var save = function(keyUpevent){
                    if(keyUpevent.keyCode == 13 && $el.text() != ''){
                        var $p = $('<p data-comment-content='+event.target.attributes[0].nodeValue+' title="'+$el.context.title+'"/>').text( $input.val() );
                        $input.replaceWith( $p );
                        let element = $('[data-comment-hidden="'+event.target.attributes[0].nodeValue+'"]');
                        if(element.length != 0){
                            let inputHidden= '<input style="display:none" type="text" name="comments[]" data-comment-hidden ="'+event.target.attributes[0].nodeValue+'" value="'+element[0].value.split("[$]")[0] +"[$]"+ $input[0].value+'" />';
                            element[0].parentNode.removeChild(element[0]);
                            $("#hiddenField").append(inputHidden);

                        }else{
                            element = $('[data-comment-hidden-add="'+event.target.attributes[0].nodeValue+'"]');
                            let inputHidden= '<input style="display:none" type="text" name="comments[]" data-comment-hidden-add="'+event.target.attributes[0].nodeValue+'" value="'+$input[0].value+'" />';
                            element[0].parentNode.removeChild(element[0]);
                            $("#hiddenField").append(inputHidden);
                        }
                    }
                };
                $input.on('keyup', save).focus();
            });
            /** On delete comment*/
            $('[data-comment-delete]').click(event =>{
                let elem = $('[data-comment-box="'+event.target.attributes[0].nodeValue+'"]')[0];
                elem.parentNode.removeChild(elem)
                let element = $('[data-comment-hidden="'+event.target.attributes[0].nodeValue+'"]');
                if(element.length != 0){
                    element[0].parentNode.removeChild(element[0])
                }else{
                    element = $('[data-comment-hidden-add="'+event.target.attributes[0].nodeValue+'"]');
                    element[0].parentNode.removeChild(element[0])
                }
            });
        }
        //google map
        var map;
        var marker;
        var infowindow;
        var service;
        function googleMap(){
            let location = new google.maps.LatLng(10.870182, 106.802919);
            if(post.location){
                location = new google.maps.LatLng(post.location.latitude,post.location.longitude);
            }
            var mapOptions = {center: location, zoom: 17};
            var mapCanvas = document.getElementById("googleMap");
            map = new google.maps.Map(mapCanvas, mapOptions);
            infowindow = new google.maps.InfoWindow();
            service = new google.maps.places.PlacesService(map);
            let pyrmont = {lat:location.lat(), lng:location.lng()};
            if(post.location){
                service.nearbySearch({
                    location: pyrmont,
                    radius: 100,
                    type: ['store']
                }, (results, status)=>{
                    if (status === google.maps.places.PlacesServiceStatus.OK){
                        let place = results[0];
                        marker = new google.maps.Marker({
                            position: location,
                            map: map
                        });
                        infowindow.setContent(place.vicinity);
                        infowindow.open(map, marker);
                    }else{
                        marker = new google.maps.Marker({
                            position: location,
                            map: map
                        });
                        infowindow.setContent(location.lat()+","+location.lng());
                        infowindow.open(map, marker);
                    }
                });
            }
            
            // add marker
            map.addListener('click', function(event) {
                addMarker(event.latLng);
            });
        }
        //
        function addMarker(location) {
            let pyrmont = {lat:location.lat(), lng:location.lng()};
            service.nearbySearch({
                location: pyrmont,
                radius: 100,
                type: ['store']
            }, (results, status)=>{
                marker.setMap(null);
                if (status === google.maps.places.PlacesServiceStatus.OK){
                    let place = results[0];
                    marker = new google.maps.Marker({
                        position: location,
                        map: map
                    });
                    infowindow.setContent(place.vicinity);
                    infowindow.open(map, marker);
                }else{
                    marker = new google.maps.Marker({
                        position: location,
                        map: map
                    });
                    infowindow.setContent(location.lat()+","+location.lng());
                    infowindow.open(map, marker);
                }
                let hiddenInputLocation = document.getElementById("location");
                let inputHidden= '<input style="display:none" id="location" type="text" name="location" value="'+ location.lat() + "," + location.lng() +'" />';
                hiddenInputLocation.parentNode.removeChild(hiddenInputLocation);
                $("#hiddenField").append(inputHidden);
            });
        }
    //- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASvnkW0G2hWn7G_p-y56PEfgNrvkO_kCE&libraries=places")
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyASvnkW0G2hWn7G_p-y56PEfgNrvkO_kCE&libraries=places&callback=googleMap')
    