extends main

block css

block body
    .row.bg-title
        .col-lg-3.col-md-4.col-sm-4.col-xs-12
            h4.page-title POST DETAILS
    .row
        .col-md-8.col-xs-12
            .white-box
                form.form-horizontal.form-material(method='POST',action='/posts',enctype="multipart/form-data")
                    .form-group
                        label.col-md-12 Post Title
                        .col-md-12
                            input.form-control.form-control-line(type='text',name = 'title',value = post.title,placeholder='Title',required)
                    .form-group
                        .col-md-12
                            label(for='sel1') Category
                            select#sel1.form-control(name="category")
                                option(value="1") ACCESSORIES
                                option(value="2") BABY AND TOYS
                                option(value="3") CLOTHS
                                option(value="4") ELECTRONICS
                                option(value="5") GROCERIES
                                option(value="6") HOME AND LIVING
                                option(value="7") PETS
                                option(value="8") OTHERS
                    if users
                        .form-group
                            .col-md-12
                                label(for='sel1') User
                                select#sel2.form-control(name="ownerId")
                                    each u in users
                                        option(value=u.id) #{u.name}
                    .form-group
                        label.col-md-12 Description
                        .col-md-12
                            textarea.form-control.form-control-line(name='description',rows='10',required) #{post.description}
        
                    .form-group
                        .col-sm-12
                            input#actionType.form-control.form-control-line(type='text',name='type',value=type,style='display:none')
                            input#actionType.form-control.form-control-line(type='text',name='postId',value=post.postId,style='display:none')
                            input#postFile.form-control.form-control-line(type="file",name="postImages",style="display:none",accept="image/*",multiple)
                            input#deleteMedia.form-control.form-control-line(type="text",name="deleteMedia",style="display:none")
                    .form-group
                        .col-sm-4
                            button#btnAction.btn.btn-success Update Post
                        .col-sm-4
                            a.btn.btn-success(href='/posts') Cancel
                    .form-group
                        label.col-md-12 Comments
                        each comment in post.comments
                            .col-md-12.comment-bg
                                .col-md-3
                                    img.comment-avatar.img-circle(src=comment.user.avatarLink, alt='img')
                                    label
                                        a(href='/users/'+ comment.user.id,style="margin-left:4px") #{comment.user.name}
                                .col-md-9(style="margin-top: 8px")
                                    p=comment.comment
                     
        .col-md-4.col-xs-12
            .white-box
                .user-bg
                    img(width='100%', alt='user', src=user.avatarLink)
                    .overlay-box
                        .user-content
                            a(href='javascript:void(0)')
                            img.thumb-lg.img-circle(src=user.avatarLink, alt='img')
                            h4.text-white #{user.name}
                            h5.text-white #{user.email}
                .user-btm-box
                    .col-md-12.col-sm-12.text-center
                        h5 #{user.slogan}
            .white-box.col-md-12
                h3.box-title MEDIA
                .col-md-12.col-sm-12
                    .form-group
                        button#postFileBtn.btn.btn-success.col-md-5(type="button") Add Media
                        p#postDisplay.col-md-6(style ="margin-top:5px")
                each image in postImages
                    .col-md-6.col-sm-12.post-media-wrap
                        img.post-media(src=image.imageLink,id=image.imageName,title="Click to delete")
block scripts
    script.
        $( document ).ready(function() {
            if($('#actionType').val() == 'add'){
                document.getElementById('btnAction').innerText = 'Add Post';
                $("#postBox").hide();
            }
            $("#postFileBtn").click(()=>{
                $("#postFile").click();
            });
            $("#postFile").on("change",()=>{
                var files = document.getElementById('postFile').files;
                document.getElementById('postDisplay').innerHTML = "Select " + files.length + " files"; 
            });
            $(".post-media-wrap").click((element)=>{
               var elem = document.getElementById(element.target.id);
               elem.parentNode.removeChild(elem);
               //deleteMedia
               $("#deleteMedia").val($("#deleteMedia").val() + ","+element.target.id);       
            });
        });