extends main

block css

block body

    .row.bg-title
        .col-lg-3.col-md-4.col-sm-4.col-xs-12
            h4.page-title POSTS
        // /.col-lg-12
        // /row
    .row
        .col-sm-12
            .white-box
                h3.box-title POSTS LIST
                a.btn.btn-success(href="/posts/add") Add Post
                .table-responsive
                    table#postsTable.table
                        thead
                            th Title
                            th Category
                            th Author
                            th Description
                            th Date
                            th
                            th
                        tbody
                             each post in posts
                                tr(data-expanded='true')
                                    td 
                                        a(href='/posts/'+ post.postId) #{post.title}
                                    td= post.category
                                    td
                                        a(href='/users/'+ post.ownerId) #{post.author}
                                    td= post.shortContent
                                    td= post.date
                                    td 
                                        a(href='/posts/'+post.postId)
                                            i.fa.fa-pencil
                                    td
                                        i.fa.fa-trash(data-toggle="modal",style="color: red",data-target="#confirmModal",data-delete=post.postId)
    #confirmModal.modal.fade(role='dialog')
        .modal-dialog
            // Modal content
            .modal-content
                .modal-header
                    h4.modal-title Do you want to delete it?
                .modal-footer
                    button.btn.btn-default(type='button',style="margin-right: 20px;",data-dismiss='modal') No, I don't
                    a#deleteButton.btn.btn-danger(href='#') Yes, Do it
block scripts
    script.
         $('#postsTable').DataTable({
            "bLengthChange": false
        });
        $('[data-delete]').click(event=>{
            document.getElementById("deleteButton").href= '/posts/deletePost'+ event.target.attributes[4].nodeValue;
        });
        