extends main

block css

block body
    .row.bg-title
        .col-lg-3.col-md-4.col-sm-4.col-xs-12
            h4.page-title Profile page
        .col-lg-9.col-sm-8.col-md-8.col-xs-12
        // /.row
        // .row
    .row
        .col-md-4.col-xs-12
            .white-box
                .user-bg
                    img(width='100%', alt='user', src='firebase/userimages/default_profile.jpg')
                    .overlay-box
                        .user-content
                            a(href='javascript:void(0)')
                            img.thumb-lg.img-circle(src='firebase/userimages/F696gEJCteXys5VY88PAv5la7N33.jpg', alt='img')
                            h4.text-white #{user.name}
                            h5.text-white #{user.email}
                .user-btm-box
                    .col-md-12.col-sm-12.text-center
                        h5 #{user.slogan}
        .col-md-8.col-xs-12
            .white-box
                form.form-horizontal.form-material(type='POST')
                    .form-group
                        label.col-md-12 Full Name
                        .col-md-12
                            input.form-control.form-control-line(type='text',name = 'username',value = user.name,placeholder='Your Name')
                    .form-group
                        label.col-md-12(for='example-email') Email
                        .col-md-12
                            input#example-email.form-control.form-control-line(type='email',name = 'email',value=user.email placeholder='xxx@admin.com')
                    .form-group
                        label.col-md-12 Address
                        .col-md-12
                            input.form-control.form-control-line(type='text',name='address',value= user.address)
                    .form-group
                        label.col-md-12 Phone No
                        .col-md-12
                            input.form-control.form-control-line(type='text',name='phone',placeholder='123 456 7890',value=user.phoneNo)
                    .form-group
                        label.col-md-12 Slogan
                        .col-md-12
                            textarea.form-control.form-control-line(name='slogan',rows='5',value=user.slogan)
                    .form-group
                        .col-sm-12
                            input.form-control.form-control-line(type='text',name='type',value=type,style='display:none')
                    .form-group
                        .col-sm-12
                            button#btnAction.btn.btn-success Update Profile
block scripts