extends main

block css

block body
    .row.bg-title
        .col-lg-3.col-md-4.col-sm-4.col-xs-12
            h4.page-title Profile page
    .row
        .col-md-4.col-xs-12
            .white-box(style="background:none")
                .user-bg
                    .overlay-box(style="background:none")
                        .user-content
                            img#previewAvatar.thumb-lg.img-circle(src=user.avatarLink, alt='img')
                            h4#previewUsername #{user.name}
                            h5#previewEmail #{user.email}
            #postBox.white-box
                h3.box-title POSTS
                a.btn.btn-success(href='/posts/add&'+user.id) Add Post
                .table-responsive
                    table#postsTable.table
                        thead
                            th Title
                            th Description
                        tbody
                             each post in posts
                                tr(data-expanded='true')
                                    td 
                                        a(href='/posts/'+ post.postId) #{post.title}
                                    td= post.shortContent
        .col-md-8.col-xs-12
            .white-box
                form.form-horizontal.form-material(method='POST',action='/users',enctype="multipart/form-data",onsubmit="return validateForm()")
                    .form-group
                        label.col-md-12 Username
                        .col-md-12
                            input#username.form-control.form-control-line(required,type='text',name = 'name',value = user.name,placeholder='Username',onblur="document.getElementById('previewUsername').innerHTML = $('#username').val()")
                    .form-group
                        label.col-md-12(for='example-email') Email
                        .col-md-12
                            input#email.form-control.form-control-line(required,type='email',name = 'email',value=user.email placeholder='xxx@admin.com',onblur="document.getElementById('previewEmail').innerHTML = $('#email').val()")
                    .form-group
                        label.col-md-12 Address
                        .col-md-12
                            input.form-control.form-control-line(type='text',name='address',value= user.address)
                    .form-group
                        label.col-md-12 Phone No
                        .col-md-12
                            input.form-control.form-control-line(required,type='tel',name='phoneNumber',placeholder='123 456 7890',value=user.phoneNumber)
                    .form-group
                        label.col-md-12 Rating
                        .col-md-12
                            input#rating(type="number",value=user.rating,name="rating")
                            
                    .form-group
                        label.col-md-12 Avatar
                        .col-md-12
                            button#avatarFileBtn.btn.btn-success(type="button") Borrow
                            input#avatarFile(type="file",name="avatarImages",style="display:none",accept="image/*")
                            label(style="margin-left:5px")#avartarDisplay
                    //hidden field
                    .form-group
                        .col-sm-12
                            input#actionType.form-control.form-control-line(type='text',name='type',value=type,style='display:none')
                            input#actionType.form-control.form-control-line(type='text',name='bkAvatarLink',value=user.bkAvatarLink,style='display:none')
                            input.form-control.form-control-line(type='text',name='id',value=user.id,style='display:none')
                    .form-group
                        .col-sm-12
                            if type == 'edit'
                                a.btn.btn-success(href='/conversation/add$'+user.id) Chat
                            button#btnAction.btn.btn-success(type="submit",style="margin-left:20px") Update Profile
                            a.btn.btn-success(href='/users',style="margin-left:20px") Cancel
    #validateModal.modal.fade(role='dialog')
        .modal-dialog
            // Modal content
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal") &times;
                    h4.modal-title This email is already registered!
block scripts
    script.
        var emails = !{JSON.stringify(emails)}
        $( document ).ready(function() {
            if($('#actionType').val() == 'add'){
                document.getElementById('btnAction').innerText = 'Add User';
                $("#postBox").hide();
            }
            $("#avatarFileBtn").click(()=>{
                $("#avatarFile").click();
            });
            $("#avatarFile").on("change",()=>{
                let file = document.getElementById('avatarFile').files[0];
                document.getElementById('avartarDisplay').innerHTML = file.name; 
                if(file.type.indexOf("image") > -1 ){
                        var reader=new FileReader();
                        reader.onload = function (e) {
                             document.getElementById('previewAvatar').src = e.target.result;
                        }
                        reader.readAsDataURL(file);
                    }



            });
            $("#rating").rating({size:'md',showClear:false ,showCaption:false,min: 0, max: 5, step: 0.5, stars: 5});
            $("#username").on('onblur',(event)=>{
                document.getElementById('previewUsername').innerHTML = event.target.value;
            })
        });
        function validateForm(){
            let email = $("#email").val();
            if (emails.indexOf(email.trim()) > -1){
                 $("#validateModal").modal();
                return false;
            }
            return true;
        }

