extends main

block css

block body

    .row.bg-title
        .col-lg-3.col-md-4.col-sm-4.col-xs-12
            h4.page-title USERS
        // /.col-lg-12
        // /row
    .row
        .col-sm-12
            .white-box
                h3.box-title USERS LIST
                a.btn.btn-success(href="/users/add") Add User
                .table-responsive
                    table#usersTable.table
                        thead
                            th Name
                            th Email
                            th Phone Number
                            th Address
                            th Follow Users
                            th Posts
                            th
                            th
                        tbody
                            each user in users
                                tr(data-expanded='true')
                                    td 
                                        a(href='/users/'+ user.id) #{user.name}
                                    td= user.email
                                    td= user.phoneNumber
                                    td= user.address
                                    if user.followingUsers
                                        td(style="text-align:center")=user.followingUsers.length
                                    else
                                        td(style="text-align:center") 0
                                    td(style="text-align:center") #{user.posts ? user.posts.length : 0 }
                                    td 
                                        a(href='/users/'+user.id)
                                            i.fa.fa-pencil
                                    td  
                                        i.fa.fa-trash(data-toggle="modal",style="color: red",data-target="#confirmModal",data-delete=user.id)
    #confirmModal.modal.fade(role='dialog')
        .modal-dialog
            // Modal content
            .modal-content
                .modal-header
                    h4.modal-title Do you want to delete it?
                .modal-footer
                    button.btn.btn-default(type='button',style="margin-right: 20px;",data-dismiss='modal') No, I don't
                    a#deleteButton.btn.btn-danger(href='#') Yes, Do it
block scripts
    script.
        $('#usersTable').DataTable({
            "bLengthChange": false
        });
        $('[data-delete]').click(event=>{
            document.getElementById("deleteButton").href= '/users/deleteUser'+ event.target.attributes[4].nodeValue;
        });
        